.table-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-columns: 2fr 2fr; */
    gap: 10px;
}

#players-cards {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin: 10px;
}

#dealers-cards {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin: 10px;
}

#player-actions {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin: 10px;
}

#player-options {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin: 10px;
}
.table-item {
    background: #ddd;
    padding: 20px;
    border-radius: 5px;
}